<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<p>
    <a href="/category">category List</a>
</p>
<h1>Create new category</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-category}" th:object="${category}" method="post">
    <table>
        <tr>
            <td>category's Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>
                <input th:type="submit" value="Create category">
            </td>
        </tr>
    </table>
</form>
</body>
</html>